<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>hotels</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>user_validate</display-name>
    <servlet-name>user_validate</servlet-name>
    <servlet-class>controller.user_validate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>user_validate</servlet-name>
    <url-pattern>/user_validate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AvailabilityServlet</display-name>
    <servlet-name>AvailabilityServlet</servlet-name>
    <servlet-class>controller.AvailabilityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AvailabilityServlet</servlet-name>
    <url-pattern>/AvailabilityServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExtraServlet</display-name>
    <servlet-name>ExtraServlet</servlet-name>
    <servlet-class>controller.ExtraServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExtraServlet</servlet-name>
    <url-pattern>/ExtraServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>cancelServlet</display-name>
    <servlet-name>cancelServlet</servlet-name>
    <servlet-class>controller.cancelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cancelServlet</servlet-name>
    <url-pattern>/cancelServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FeedbackServlet</display-name>
    <servlet-name>FeedbackServlet</servlet-name>
    <servlet-class>controller.FeedbackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FeedbackServlet</servlet-name>
    <url-pattern>/FeedbackServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignupServlet</display-name>
    <servlet-name>SignupServlet</servlet-name>
    <servlet-class>controller.SignupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupServlet</servlet-name>
    <url-pattern>/SignupServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminvalidateServlet</display-name>
    <servlet-name>AdminvalidateServlet</servlet-name>
    <servlet-class>controller.AdminvalidateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminvalidateServlet</servlet-name>
    <url-pattern>/AdminvalidateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminavailServlet</display-name>
    <servlet-name>adminavailServlet</servlet-name>
    <servlet-class>controller.adminavailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminavailServlet</servlet-name>
    <url-pattern>/adminavailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllavailServlet</display-name>
    <servlet-name>AllavailServlet</servlet-name>
    <servlet-class>controller.AllavailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllavailServlet</servlet-name>
    <url-pattern>/AllavailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookedServlet</display-name>
    <servlet-name>BookedServlet</servlet-name>
    <servlet-class>controller.BookedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookedServlet</servlet-name>
    <url-pattern>/BookedServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancelServelet</display-name>
    <servlet-name>CancelServelet</servlet-name>
    <servlet-class>controller.CancelServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelServelet</servlet-name>
    <url-pattern>/CancelServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancelledServlet</display-name>
    <servlet-name>CancelledServlet</servlet-name>
    <servlet-class>controller.CancelledServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelledServlet</servlet-name>
    <url-pattern>/CancelledServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllcancelledServlet</display-name>
    <servlet-name>AllcancelledServlet</servlet-name>
    <servlet-class>controller.AllcancelledServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllcancelledServlet</servlet-name>
    <url-pattern>/AllcancelledServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminfeedbackServlet</display-name>
    <servlet-name>AdminfeedbackServlet</servlet-name>
    <servlet-class>controller.AdminfeedbackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminfeedbackServlet</servlet-name>
    <url-pattern>/AdminfeedbackServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logoutServlet</display-name>
    <servlet-name>logoutServlet</servlet-name>
    <servlet-class>controller.logoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logoutServlet</servlet-name>
    <url-pattern>/logoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FinalServlet</display-name>
    <servlet-name>FinalServlet</servlet-name>
    <servlet-class>controller.FinalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FinalServlet</servlet-name>
    <url-pattern>/FinalServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HistoryloginServlet</display-name>
    <servlet-name>HistoryloginServlet</servlet-name>
    <servlet-class>controller.HistoryloginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HistoryloginServlet</servlet-name>
    <url-pattern>/Historylogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddServlet</display-name>
    <servlet-name>AddServlet</servlet-name>
    <servlet-class>controller.AddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddServlet</servlet-name>
    <url-pattern>/AddServlet</url-pattern>
  </servlet-mapping>
</web-app>